**/.git
**/.gitignore
**/.vs
**/.idea
**/bin
**/obj
**/*.user
**/*.DotSettings*
**/*.md
**/*.log
**/.env*
!**/.env.example
**/*.secret.json
**/appsettings*.secret.json
**/*.pem
**/*.key
**/*.pfx
**/*.cer
**/*.crt
**/*.bak
